body {
    background-color: #010d28;
}

.main-info-page {
    margin: 60px auto 0;
    max-width: 1200px;
}

.text-center {
    text-align: center;
    line-height: 40px;
}

h3, p, b.status-ready {
    color: #87e6fa;
}

b.status-query {
    color: orange;
}

b.status-error {
    color: red;
}

b.status-success {
    color: #39ff39;
}

.selectpicker {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;

    /*height: 36px;*/
    /*font-size: 16px;*/
    /*padding-left: 10px;*/
    background-color: #eee;
    width: 100%;

}

option {
    font-size: 14px;
}

.form_date {
    width: 100%;
}

.Histogram {
    margin: 80px 10% 0 10%;
    height: 400px;
    width: 80%;
}

.query {
    height: 34px;
}

div.input-group {
    /*width: 300px;*/

}

.queryP {
    /*position: absolute;*/
    /*right: 100px;*/
    /*top: 128px;*/
    font-size: 20px;
    line-height: 34px;
}

.Histogram {
    height: 600px;
    width: 100%;
    margin: 0 auto;
}